[Unit]
Description=PukiWikiMD (docker compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=ubuntu
Group=docker
WorkingDirectory=/home/ubuntu/workspace/PukiWikiMD
Environment=HOME=/home/ubuntu
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose stop
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
